/*.formControl.error input,*/
.formControlerror textarea {
    border: solid red 2px;
}

.formControl textarea {
    border: solid black 1px;
}

.formControl.error span {
    color: red;
}

.formControlerror input {
    border: solid red 2px;
}

.formControl input {
    border: solid black 1px;
}