.post {
    font-size: 20px;
}

.zoloto {
    color: rgb(219, 18, 18);
}

.item {

    background-color: rgb(218, 207, 192);
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}