.nav {
    grid-area: n;
    background-color: #61dafb;
}
.item {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.active {
    color: gold;
    font-size: 20px;
    text-decoration: none;
}

